<div class="title">
  <ng-template [ngIf]="_showMonthPicker" [ngIfElse]="title">
    <ion-button type="button" fill="clear" class="switch-btn" (click)="switchView()">
      {{ _monthFormat(monthOpt.original.date) }}
      <ion-icon class="arrow-dropdown" [name]="_view === 'days' ? 'md-arrow-dropdown' : 'md-arrow-dropup'"></ion-icon>
    </ion-button>
  </ng-template>
  <ng-template #title>
    <div class="switch-btn">
      {{ _monthFormat(monthOpt.original.date) }}
    </div>
  </ng-template>
  <ng-template [ngIf]="_showToggleButtons">
    <ion-button type="button" fill="clear" class="back" [disabled]="!canBack()" (click)="prev()">
      <ion-icon slot="icon-only" size="small" name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-button type="button" fill="clear" class="forward" [disabled]="!canNext()" (click)="next()">
      <ion-icon slot="icon-only" size="small" name="ios-arrow-forward"></ion-icon>
    </ion-button>
  </ng-template>
</div>
<ng-template [ngIf]="_view === 'days'" [ngIfElse]="monthPicker">
  <moots-calendar-week color="transparent" [weekArray]="modalOptions.weekdays" [weekStart]="modalOptions.weekStart"> </moots-calendar-week>

  <moots-calendar-month
    class="component-mode"
    [(ngModel)]="_calendarMonthValue"
    [month]="monthOpt"
    [readonly]="readonly"
    (change)="onChanged($event)"
    (swipe)="swipeEvent($event)"
    (select)="select.emit($event)"
    (selectStart)="selectStart.emit($event)"
    (selectEnd)="selectEnd.emit($event)"
    [pickMode]="modalOptions.pickMode"
    [color]="modalOptions.color"
  >
  </moots-calendar-month>
</ng-template>

<ng-template #monthPicker>
  <moots-calendar-month-picker
    [color]="modalOptions.color"
    [monthFormat]="_options?.monthPickerFormat"
    (select)="monthOnSelect($event)"
    [month]="monthOpt"
  >
  </moots-calendar-month-picker>
</ng-template>
