<div [class]="color">
    <ng-template [ngIf]="!_isRange" [ngIfElse]="rangeBox">
        <div class="days-box">
            <ng-template ngFor let-day [ngForOf]="month.days" [ngForTrackBy]="trackByTime">
                <div class="days">
                    <ng-container *ngIf="day">
                        <button type="button" [class]="'days-btn ' + day.cssClass" [class.today]="day.isToday"
                            (click)="onSelected(day)" [class.marked]="day.marked"
                            [class.last-month-day]="day.isLastMonth" [class.next-month-day]="day.isNextMonth"
                            [class.on-selected]="isSelected(day.time)" [disabled]="day.disable">
                            <p>{{ day.title }}</p>
                            <small *ngIf="day.subTitle">{{ day?.subTitle }}</small>
                        </button>
                    </ng-container>
                </div>
            </ng-template>
        </div>
    </ng-template>

    <ng-template #rangeBox>
        <div class="days-box">
            <ng-template ngFor let-day [ngForOf]="month.days" [ngForTrackBy]="trackByTime">
                <div class="days" [class.startSelection]="isStartSelection(day)"
                    [class.endSelection]="isEndSelection(day)" [class.is-first-wrap]="day?.isFirst"
                    [class.is-last-wrap]="day?.isLast" [class.between]="isBetween(day)">
                    <ng-container *ngIf="day">
                        <button type="button" [class]="'days-btn ' + day.cssClass" [class.today]="day.isToday"
                            (click)="onSelected(day)" [class.marked]="day.marked"
                            [class.last-month-day]="day.isLastMonth" [class.next-month-day]="day.isNextMonth"
                            [class.is-first]="day.isFirst" [class.is-last]="day.isLast"
                            [class.on-selected]="isSelected(day.time)" [disabled]="day.disable">
                            <p>{{ day.title }}</p>
                            <small *ngIf="day.subTitle">{{ day?.subTitle }}</small>
                        </button>
                    </ng-container>
                </div>
            </ng-template>
        </div>
    </ng-template>
</div>
